/* Tooltip */
	/* h2.template:hover::after {
		content: "┌─────────────┐\A" + 
		"│  VARIABLES  │\A" + 
		"├─────┬───────┤\A" +
		"│  i  │ Iter  │\A" +
		"│ val │ Value │\A" +
		"└─────┴───────┘\A";
		position: absolute;
		background: white;
		width: min-content;
		height: min-content;
		white-space: pre;
		font-family: monospace;
		font-size: 16px;
		border-radius: 5px;
		box-shadow: 0px 2px 4px hsla(0, 0%, 0%, 0.4);
		padding: 5px 10px;
		transform: translatex(10px);
		line-height: 16px;
		color: #000;
	} */