body
	margin: 0
	background: hsl(220, 36%, 36%)
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif
	color: white

h1, h2, h3
	margin: 0px
	line-height: 1.5
	position: relative

h1
	font-size: 2em

h2
	font-size: 1.5em

h3
	font-size: 1.25em

a[href]
	color: inherit

svg
	width: 1em
	height: 1em
	fill: currentColor
	vertical-align: middle

footer 
	padding: 2em
	position: absolute
	bottom: 0
	width: 100%
	left: 0
	box-sizing: border-box
	h2
		margin: 0
	nav 
		display: flex
		justify-content: space-evenly
		a
			padding: 1em 2em
			font-weight: bold
			text-decoration: none
	svg
		vertical-align: baseline
